{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="filter" id="filter"></div><!--滤镜-->
<!--立即购买 开始-->
<section class="selection">
    <div class="wild-box flex-box">
        <div class="leftbox">
            <div class="left-imgshow">
                <div class="big-img ">
                    <a class="btnleft">
                        <i class="iconfont icon-fanhui iconleft"></i>
                    </a>
                    <div class="pic">
                        <img src="{% static 'images/product-dails/section1-1.png' %}" alt="" class="op1">
                        <img src="{% static 'images/product-dails/section1-2.png' %}" alt="">
                        <img src="{% static 'images/product-dails/section1-3.png' %}" alt="">
                        <img src="{% static 'images/product-dails/section1-4.png' %}" alt="">
                    </div>
                    <a class="btnright">
                        <i class="iconfont icon-gengduo iconright"></i>
                    </a>
                </div>
                <div class="small-img ">
                    <a>
                        <img src="{% static 'images/product-dails/section1-1.png' %}" alt="">
                    </a>
                    <a>
                        <img src="{% static 'images/product-dails/section1-2.png' %}" alt="">
                    </a>
                    <a>
                        <img src="{% static 'images/product-dails/section1-3.png' %}" alt="">
                    </a>
                    <a>
                        <img src="{% static 'images/product-dails/section1-4.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="left-imgshow">
                <div class="big-img ">
                    <a class="btnleft">
                        <i class="iconfont icon-fanhui iconleft"></i>
                    </a>
                    <div class="pic">
                        <img src="{% static 'images/product-dails/section1-1.png' %}" alt="" class="op1">
                        <img src="{% static 'images/product-dails/section1-2.png' %}" alt="">
                        <img src="{% static 'images/product-dails/section1-3.png' %}" alt="">
                        <img src="{% static 'images/product-dails/section1-4.png' %}" alt="">
                    </div>
                    <a class="btnright">
                        <i class="iconfont icon-gengduo iconright"></i>
                    </a>
                </div>
                <div class="small-img ">
                    <a>
                        <img src="{% static 'images/product-dails/section1-1.png' %}" alt="">
                    </a>
                    <a>
                        <img src="{% static 'images/product-dails/section1-2.png' %}" alt="">
                    </a>
                    <a>
                        <img src="{% static 'images/product-dails/section1-3.png' %}" alt="">
                    </a>
                    <a>
                        <img src="{% static 'images/product-dails/section1-4.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="left-imgshow">
                <div class="big-img ">
                    <a class="btnleft">
                        <i class="iconfont icon-fanhui iconleft"></i>
                    </a>
                    <div class="pic">
                        <img src="{% static 'images/product-dails/section1-1.png' %}" alt="" class="op1">
                        <img src="{% static 'images/product-dails/section1-2.png' %}" alt="">
                        <img src="{% static 'images/product-dails/section1-3.png' %}" alt="">
                        <img src="{% static 'images/product-dails/section1-4.png' %}" alt="">
                    </div>
                    <a class="btnright">
                        <i class="iconfont icon-gengduo iconright"></i>
                    </a>
                </div>
                <div class="small-img ">
                    <a>
                        <img src="{% static 'images/product-dails/section1-1.png' %}" alt="">
                    </a>
                    <a>
                        <img src="{% static 'images/product-dails/section1-2.png' %}" alt="">
                    </a>
                    <a>
                        <img src="{% static 'images/product-dails/section1-3.png' %}" alt="">
                    </a>
                    <a>
                        <img src="{% static 'images/product-dails/section1-4.png' %}" alt="">
                    </a>
                </div>

            </div>
            <div class="left-imgshow">
                <div class="big-img ">
                    <a class="btnleft">
                        <i class="iconfont icon-fanhui iconleft"></i>
                    </a>
                    <div class="pic">
                        <img src="{% static 'images/product-dails/section1-1.png' %}" alt="" class="op1">
                        <img src="{% static 'images/product-dails/section1-2.png' %}" alt="">
                        <img src="{% static 'images/product-dails/section1-3.png' %}" alt="">
                        <img src="{% static 'images/product-dails/section1-4.png' %}" alt="">
                    </div>
                    <a class="btnright">
                        <i class="iconfont icon-gengduo iconright"></i>
                    </a>
                </div>
                <div class="small-img ">
                    <a>
                        <img src="{% static 'images/product-dails/section1-1.png' %}" alt="">
                    </a>
                    <a>
                        <img src="{% static 'images/product-dails/section1-2.png' %}" alt="">
                    </a>
                    <a>
                        <img src="{% static 'images/product-dails/section1-3.png' %}" alt="">
                    </a>
                    <a>
                        <img src="{% static 'images/product-dails/section1-4.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="left-imgshow dflex" id="normal-show">
                <div class="big-img ">
                    <div class="pic">
                        <img src="{% static 'images/product-dails/leftsmallimg.png' %}" alt="" class="op1">
                    </div>
                </div>
                <div class="small-img ">
                    <a>
                        <img src="{% static 'images/product-dails/leftsmallimg.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="right-info">
            <h1>OnePlus 5 个性保护壳 <span>砂岩黑</span></h1>
            <p class="info-subtitle"></p>
            <div class="price">99.00</div>
            <div class="option">
                <dl>
                    <dt class="color-des">颜色 - <span>砂岩黑</span></dt>
                    <dd class="color-choice" id="buynow">
                        <a>
                            <img src="{% static 'images/product-dails/colorchoice1.jpg' %}" alt="">
                        </a>
                        <a>
                            <img src="{% static 'images/product-dails/colorchoice2.jpg' %}" alt="">
                        </a>
                        <a>
                            <img src="{% static 'images/product-dails/colorchoice3.jpg' %}" alt="">
                        </a>
                        <a>
                            <img src="{% static 'images/product-dails/colorchoice4.jpg' %}" alt="">
                        </a>
                    </dd>
                </dl>
            </div>
            <div class="btngroup clearfix">
                <div class="btn">
                    <a href="#" class="buynow">立即购买</a>
                    <a href="#" class="arrival-notice">到货通知</a>
                </div>
                <dl class="share">
                    <dt id="share">
                        <i class="i-con i-shar"></i>
                    </dt>
                    <dd class="shareway" id="shareway">
                        <a href="#"><i class="i-con i-qqzone"></i></a>
                        <a href="#"><i class="i-con i-sina"></i></a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<!--菜单选择 开始-->
<section class="menu" id="pro-menu">
    <ul>
        <li><a href="#dails">商品详情</a></li>
        <li><a href="#parameter">规格参数</a></li>
        <li><a href="#fag">常见问题</a></li>
    </ul>
</section>
<!--商品详情 开始-->
<a name="dails"></a>
<section class="product-dails clearfix">
    <div class="product-des">

        {% for prod in pro_list %}
{#            {% if prod.sale_id == sale.id %}#}
                <h2>{{ prod.title }}</h2>
                <p>{{ prod.desc }}
{#        {% endif %}#}
        </p>
        {% endfor %}
    </div>
    <div class="product-img">
    </div>
</section>
<!--详情2 开始-->
<section class="product-two">
    <div class="swiper-btn">
        <span class="color-choice active"></span>
        <span class="color-choice "></span>
        <span class="color-choice "></span>
        <span class="color-choice "></span>
    </div>
    <div class="pro-two-box">
        <div class="product-two-bg img-active">
            <div class="product-des">
               {% for prod in pro_list1 %}
        <h2>{{ prod.title }}</h2>
        <p>{{ prod.desc }}
        </p>
        {% endfor %}
            </div>
            <div class="product-pic pic1"></div>
        </div>
        <div class="product-two-bg">
            <div class="product-des">
                {% for prod in pro_list1 %}
        <h2>{{ prod.title }}</h2>
        <p>{{ prod.desc }}
        </p>
        {% endfor %}
            </div>
            <div class="product-pic pic2"></div>
        </div>

    </div>

</section>
<!--详情3 开始-->
<section class="product-three clearfix">
    <div class="img-show">
        <ul class="clearfix" id="pro3-imgshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="btn" id="btn">
        <span class="active"></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>
<!--规格参数 开始-->
<a name="parameter"></a>
<section class="specification">
    <table>
        {% for arg in arg_list %}
        <tr>
            <td>{{ arg.title }}</td>
            <td>{{ arg.desc }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% include 'include/prob.html' %}
{% endblock %}